HOST=0.0.0.0
PORT=1337
APP_KEYS=yourKey1,yourKey2,yourKey3,yourKey4
API_TOKEN_SALT=yourApiTokenSalt
ADMIN_JWT_SECRET=yourAdminJwtSecret
TRANSFER_TOKEN_SALT=yourTransferTokenSalt
JWT_SECRET=yourJwtSecret
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# For PostgreSQL:
# DATABASE_CLIENT=postgres
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_NAME=vangbacanthinh
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=strapi
